{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1 style="font-weight: bold; color: darkblue;">Заказ напитка</h1>

    <form action="/lab3/pay">

        <div style="font-size: 24px; color: darkblue; margin-bottom: 10px">Напиток:</div>
        <label>
            <input type="radio" value="coffee" name="drink" checked><span style="font-size: 16px; margin-right: 10px; margin-bottom: 10px">кофе (120 руб)</span>
        </label>
        <label>
            <input type="radio" value="black-tea" name="drink"><span style="font-size: 16px; margin-right: 10px; margin-bottom: 10px">черный чай (80 руб)</span>
        </label>
        <label>
            <input type="radio" value="green-tea" name="drink"><span style="font-size: 16px; margin-right: 10px; margin-bottom: 10px">зеленый чай (70 руб)</span>
        </label>

        <div  style="font-size: 24px; color: darkblue; margin-bottom: 10px">Добавки:</div>
        <label>
            <input type="checkbox" name="milk"><span style="font-size: 16px; margin-right: 10px; margin-bottom: 10px">молоко (30 руб)</span>
        </label>
        <label>
            <input type="checkbox" name="sugar"><span style="font-size: 16px; margin-right: 10px; margin-bottom: 10px">сахар (10 руб)</span>
        </label>
        <div>
            <button type="submit" style="padding: 15px; border-radius: 20px; margin-top: 10px; background-color: transparent; border-color: darkblue">Отправить</button>
        </div>
    </form>
{% endblock %}