{% extends "base.html" %}

{% block lab %} Лабораторнаая работа 3{% endblock %}

{% block main %}

    <h1>Результаты поиска по цене от {{ min_price }} до {{ max_price }}</h1>
    
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Бренд</th>
                <th>Цвет</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.color }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}