body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightseagreen;
}

footer {
    margin-top: 0px;
    padding: 20px;
    background: lightseagreen;
    text-align: right;
}